---
title: People
layout: default
positions:
  pi: Principal Investigator
  staff: Staff
  postdoc: Postdoctoral Fellow
  phd: Doctoral Student
  ms: Masters Student
  bs: Undergraduate
  alumni: Alumni
---

{% assign sorted_people = (site.people | sort: 'start-date') %}
<br>

<div class = "people">
<ul class = "list">
{% for position in page.positions %}
 {% for person in sorted_people %}
  {% if person.publish %}
  {% if person.path contains position[0] %}
    <li class="item">
      <center>
      {% if person.picture %}
      <img src="assets/people/{{ person.picture }}" height="240px">
      {% else %}
      <img src="assets/people/placeholder.png" height="240px" width="190px">
      {% endif %}
      <h3><u> {{ person.name }} </u></h3>
      <p><b><i> {{ position[1] }} </i></b>	  <br />
        {% if position[0] == 'pi' %}
          <i><a href='assets/{{ person.CV }}' target='_blank'>CV</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href='http://scholar.google.com/citations?user={{ person.google-scholar }}' target='_blank'>Google Scholar</a></i>
        {% endif %}
	</p>
	<ul>
	  <li>{{ person.title }} </li>
	  <li>{{ person.line1 }} </li>
	  <li>{{ person.line2 }} </li>
	</ul>
    </li>

    {% cycle 'close rows': nil, nil, nil, '</ul><ul class = "list">' %}

    {% endif %}
  {% endif %}
 {% endfor %}

{% endfor %}
</ul>
</div>
