<div id="footer-wrap">
	<div class="container">
		<p class="footer">
		<i>
The Mills Lab at the <a href="https://www.umich.edu/" target='_blank'>University of Michigan</a> 
is part of the Departments of <a href="http://www.ccmb.med.umich.edu/" target='_blank'>Computational Medicine & Bioinformatics</a> <br>
and <a href="http://www.hg.med.umich.edu/" target='_blank'>Human Genetics</a>, the 
<a href="http://hg.med.umich.edu/gtg/" target='_blank'>Predoctoral Genetics Training Program</a>, and the <a href="http://csg.sph.umich.edu/training/" target='_blank'>Genome Science Training Program</a>.
</i>
			<br><br>
			<i>The Mills Lab</i>&nbsp;&nbsp;|&nbsp;&nbsp;Department of Computational Medicine & Bioinformatics&nbsp;&nbsp;|&nbsp;&nbsp;University of Michigan
	  	<br>
		</p>
	</div><!-- end container -->
</div><!-- end footer-wrap -->


</body>
</html>
